{% extends 's5p4418-avn-quickboot-type.jinja2' %}
{% set nexell_command = 'true' %}
{% set adb_serial_number = 's5p4418-avn-ref-quickboot' %}
{% set fastboot_serial_number = 's5p4418-avn-ref-quickboot' %}
{% set device_path = ['/dev/ttyUSB0'] %}
