{% extends 's5p6818-avn-qt-type.jinja2' %}
{% set nexell_command = 'true' %}
{% set connection_command = 'telnet 192.168.1.19 4001' %}
{% set adb_serial_number = 's5p6818-avn-ref-qt' %}
{% set fastboot_serial_number = 's5p6818-avn-ref-qt' %}
{% set device_path = ['/dev/ttyUSB1'] %}
