{% extends 's5p6818-avn-type.jinja2' %}
{% set nexell_command = 'true' %}
{% set adb_serial_number = 's5p6818-avn-ref' %}
{% set fastboot_serial_number = 's5p6818-avn-ref' %}
{% set device_path = ['/dev/ttyUSB1'] %}
